.title {
  width: fit-content;
}

.form-control,
.form-select {
  border-width: 2px !important;
}

.form-control:focus,
.form-select:focus {
  box-shadow: none;
  border-color: cadetblue !important;
}

#productList {
  row-gap: 200px;
  margin-bottom: 150px;
}

.product {
  height: 250px;
}

.fa-trash:hover {
  animation: fa-shake 1s 1 ease-in-out;
}

.form-control.is-valid:focus {
  box-shadow: none;
  border-color: #228b22 !important;
}

.form-control.is-invalid:focus {
  box-shadow: none;
  border-color: #ff8383 !important;
}

i:hover {
  cursor: pointer;
}
